.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    

}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
   width: 300px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}